@page
@model CoolScrumGames.Pages.AboutUsModel
@{
}



<body style="background-color: #ffc72c;">
    <div class="main-container">
<<<<<<< Updated upstream
        <p> Hello :) How is it going?</p>
=======
        <p> Hello :) How are you?</p>
>>>>>>> Stashed changes
    </div>
</body>