@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to CoolScrumGames.com</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div>

<link href="/css/MainPageStyleSheet.css" rel="stylesheet" />
<body>
<div class="main-container">
<div><game-container>
      <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris</p></div>
</game-container></div>

  <div><game-container>
      <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Purrfectly Stacked</p></div>
  </game-container></div>

<div><game-container>
      <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Clawsome Cubes</p></div>
</game-container></div></div>

<div class="main-container">
  <div><game-container>
      <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Meow-sical Blocks</p></div>
  </game-container></div>

  <div><game-container>
      <div><h3>
      <button onclick="window.location.href='https://www.numuki.com/game/hello-kitty-adventure/'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Kitty's Tetra-Palooza</p></div>
  </game-container></div>

<div><game-container>
      <div><h3>
      <button onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=1s'" target="_blank">
            <img src="/lib/HelloKitty.png" alt="Hello Kitty" style="width:128px;height:128px;">
        </button>
  </h3><p>Hello Kitty Tetris: Paws and Play</p></div>
</game-container></div></div>


</body>
